<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=11">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="./myicon/iconfont.css">
  <title>管控5.8系统</title>
</head>
<body>
<div id="root" style="overflow-x: hidden"></div>

</body>
</html>
